.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 60px;
  background-color: #2c3e50;
  color: white;
  padding: 20px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: width 0.3s ease;
  white-space: nowrap;
}

.sidebar:hover {
  width: 220px;
  padding: 20px;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover h2 {
  opacity: 1;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li {
  margin-bottom: 15px;
}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.sidebar:hover nav a {
  opacity: 1;
}

.dashboard-content {
  flex-grow: 1;
  padding: 30px;
  background-color: #f0f0f0;
  overflow-y: auto;
}



/* Centered layout for landing and login */
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
